body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    background: linear-gradient(to bottom, #001b4d, #277ccc);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .task-list {
    width: 300px;
    margin-top: 20px;
  }
  
  .task-list input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .task-list button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .task-list button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  ul li:last-child {
    border-bottom: none;
  }
  